<div class="assesments index">
	<h2><?php echo __('Assesments'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('question'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($assesments as $assesment): ?>
	<tr>
		<td><?php echo h($assesment['Assesment']['id']); ?>&nbsp;</td>
		<td><?php echo h($assesment['Assesment']['question']); ?>&nbsp;</td>
		<td><?php echo h($assesment['Assesment']['created']); ?>&nbsp;</td>
		<td><?php echo h($assesment['Assesment']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $assesment['Assesment']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $assesment['Assesment']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $assesment['Assesment']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $assesment['Assesment']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Assesment'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Options'), array('controller' => 'options', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Option'), array('controller' => 'options', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users Options'), array('controller' => 'users_options', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Users Option'), array('controller' => 'users_options', 'action' => 'add')); ?> </li>
	</ul>
</div>
