@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto-light-webfont.eot');
    src: url('../font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-light-webfont.woff') format('woff'),
         url('../font/roboto-light-webfont.ttf') format('truetype'),
         url('../font/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.eot');
    src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-medium-webfont.woff') format('woff'),
         url('../font/roboto-medium-webfont.ttf') format('truetype'),
         url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.eot');
    src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular-webfont.woff') format('woff'),
         url('../font/roboto-regular-webfont.ttf') format('truetype'),
         url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    overflow-x: hidden;
    font-family: 'robotolight';
    background:url("../img/webfile/bottom-bg.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
   height: 100%;
    position: relative;
    width: 100%;
  
}
h1,h2,h3,h4,h5,h6, button{
    font-family: 'robotomedium'; 
}
label{
 font-family: 'robotoregular';   
}
.container{
    width: 980px;
}

.bg-main{
    position: relative;
    background: url(../img/webfile/bg.png) no-repeat;   
    width: 100%;
    height: 864px;
    background-size: 100% 100%;

}
.bg-main.signup{   
    background: url(../img/webfile/signup.png) no-repeat;
    width: 100%;
     height: 864px;
     background-size: 100% 100%;
}
.container-fluid{
    padding: 0
}
.overlay{
    background:rgba(88,184,182, 0.5); 
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
   
}
.signUpForm:before{
    background: url('../img/webfile/topbar.png') no-repeat;
    height: 15px;
    width: 486px;
    content: '';
    position: absolute;
    top: -8px;
    margin-left: -243px;
    left: 50%;

}
.signUpForm{
    width: 486px;
    margin: auto;
    background: #fff;
    padding: 10px 20px;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: -190px;
    left: 50%;
    margin-left: -243px;
    z-index: 200;
    margin-top: -144px;
   

}
.account{
    font-size: 28px;
    color: #cccccc;
    margin: 10px 0 20px;
}
.signUpForm h3{
    margin: 30px 0;
}
.signUpForm input{
    height: 45px;
    font-weight: normal;
    font-size: 18px;
    padding-left: 35px;
}
.signUpForm input, .feedback-content textarea, .feedback-content input{
    -webkit-box-shadow: 0px 4px 1px 0px rgba(204, 204, 204, 0.5);
-moz-box-shadow:    0px 4px 1px 0px rgba(204, 204, 204, 0.5);
box-shadow:         0px 4px 1px 0px rgba(204, 204, 204, 0.5);
}
.signUpForm button[type="submit"], .signup, .young{
    background: #f72876;
    color: #fff;
     -webkit-box-shadow: 0px 4px 1px 0px rgba(173, 26, 117, 0.8);
-moz-box-shadow:    0px 4px 1px 0px rgba(173, 26, 117, 0.8);
box-shadow:         0px 4px 1px 0px rgba(173, 26, 117, 0.8);
margin: 30px 0 20px;
font-family: 'robotomedium';

}
.signup{
    margin-top: 20px;
}
a.signup:hover{
    color: #fff;
}
.sign{
    color: #ccc;
}
.signUpForm .form-group input.username{
    background: url('../img/webfile/user-icon.png') no-repeat 10px center;
}
.signUpForm .form-group input.password{
    background: url('../img/webfile/pass-icon.png') no-repeat 10px center;
}
.signUpForm .form-group input.address{
    background: url('../img/webfile/email-icon.png') no-repeat 10px center;
}
.signUpForm .form-group input.number{
    background: url('../img/webfile/mobile-num-icon.png') no-repeat 10px center;
}
.bg-main img.bg{
    /*position: absolute;   
    width: 100%;*/
}
.logo{
    margin-top: 15px;
}
img{
    max-width: 100%;
}
#young_care:hover{
    color: #fff;
}
.young-info{
    display: none;
}
/*.container{
    position: relative;
    z-index: 100
}*/
.nav-bar{
    margin-top: 75px;
}
ul.mani-menu
{
    /*padding:0;*/
    list-style-type: none;
    height: 26px;
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
}

ul.mani-menu li
{ 
    
    list-style-type: none;
    padding:0;
    margin:0 20px;
    float:left;
    display: block;
    color:White;

}
ul.mani-menu li:first-child{
    margin-left: 0
}
ul.mani-menu li:last-child{
    margin-right: 0
}
ul.mani-menu li a{
   /* padding: 0 20px;  */
    color:White;
    text-align: center;
    text-decoration:none;
    display: block;   
    font-size: 15px;
    line-height: 26px;
    line-height:160px;
}
ul.mani-menu li.down{
    margin-top: 90px;
}
.about{
    background-color: #039591; 
}
.self, .head-bg.self{
    background-color: #fe580d; 
}
.feedback, .feedback.head-bg{
    background-color: #ac1f76; 
}
.notice, .head-bg.notification{
    background-color: #32c894;        
}
.download{
    background-color: #f72b76;       

}
.news{
    background-color: #3b8fd9;
}
.hexagon{
    height: 150px;
    width: 112px;
    position: relative;
    transition: all 2s;
}
.hexagon:before{
    content: '';    
    border-bottom: 75px solid transparent;    
    border-top: 75px solid transparent;
    position: absolute;
    left: -30px;
    top: 0
   
}
.about:before{
    border-right: 30px solid #039591;
}
.self:before{
    border-right: 30px solid #fe580d;
}
.feedback:before{
    border-right: 30px solid #ac1f76;   
}
.notice:before{
    border-right: 30px solid #32c894;        
}
.download:before{
    border-right: 30px solid  #f72b76;       

}
.news:before{
    border-right: 30px solid #3b8fd9;
}
.hexagon:after{
       border-bottom: 75px solid transparent;    
    border-top: 75px solid transparent;
    content: "";
    position: absolute;
    right: -30px;
    top: 0 
}
.about:after{
border-left: 30px solid #039591;
}
.self:after{
    border-left: 30px solid #fe580d;
}
.feedback:after{
    border-left: 30px solid #ac1f76;    
}
.notice:after{
    border-left: 30px solid #32c894;        
}
.download:after{
    border-left: 30px solid  #f72b76;     
}
.news:after{
    border-left: 30px solid #3b8fd9;
}
.section-2{    
   /* margin-top: -328px;*/
}
.head-bg{
    background: #039591;
    padding: 20px;   
    color: #fff;
}
.head-bg.downloaded{
    background: #f72b76;    
}

.text-content{
    background: #fff;
    padding: 20px;
    font-size: 17px;
    color: #464646;
    text-align: left;
}
.button{
    margin:30px 50px;
}
.button button{
    margin: 0 10px;
}
.contact, .readmore{
     font-family: 'robotomedium';
    background: #32c894;
    padding: 20px 0;
    color: #fff;
    border: 0;
    text-align: center;
}
.contact:hover{
    text-decoration: none;
    color: #fff;
}
.readmore{
    background: #ac1f76;
}
.downloaded-table.text-content{
    padding: 0px;    
}
.downloaded-table table{
    border-top: 4px solid #fb562a;
}
.downloaded-table table td{
    width: 50%;
    vertical-align: middle !important;
    padding: 15px 50px !important;
    border-top: 1px solid #b0307f !important;
}
.NewsEvents.head-bg{
    background: #3b8fd9;
}
.news h3{
    color: #3b8fd9;
    margin: 30px 0
}
.nav-tabs > li > a{
    color: #fff;
    font-size: 18px;
}
.nav-tabs > li.active > a,  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover{
    background: transparent;
    border: 1px solid transparent;
    color: #fff;    
}
a:focus{
    outline: none ;
}
.nav-tabs{
    border: 0;
}
.nav-tabs span.check{
    background: url("../img/webfile/checkbox.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 41px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 46px;
}
.nav-tabs li.active span.check{
    background: url("../img/webfile/checked.png") repeat scroll 0 0 rgba(0, 0, 0, 0);

}
.radio-align{
   display: inline-block;
   width: 200px;
}
.radio-align label{
    font-size: 19px;
    color: #308fdd;
    width: 100px;
}
.radio-align input[type="radio"]{
    display: inline-block;
    text-align: center;
}
.error{
    border: 1px solid #f72876 !important;
}
button:focus{
    outline: none !important;
}
/*radio*/
.other_city{
    margin-top: 7px;
    width:4.333333%;
    float: left;
}
.city_text{
    position: absolute;
    top: 7px;
    left: 50px;
}
    .custom-radio{
        width: 50px;
        height: 50px;
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 3px;
        background: url("../img/webfile/radio.png") no-repeat;
    }
    .city-radio{
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 3px;
        background: url("../img/webfile/city-radio.png") no-repeat;
    }
   /* .custom-radio:hover{            
        background: url("../images/radio-hover.png") no-repeat;
    }*/
    .custom-radio.selected{
        background: url("../img/webfile/radio-active.png") no-repeat;
    }
    .city-radio.selected{
        background: url("../img/webfile/city-radio-active.png") no-repeat;
    }
    .city-radio input[type="radio"],.custom-radio input[type="radio"]{
        margin: 1px;
        position: absolute;
        z-index: 2;            
        cursor: pointer;
        outline: none;
        opacity: 0;
        /* CSS hacks for older browsers */
        _noFocusLine: expression(this.hideFocus=true); 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }    
.view-icon a{
    padding: 0 10px;
}
.image-bg{
    background: #ac1f76;
    border-radius: 10px;
    width: 300px;
    margin :15px auto 30px;
    padding: 5px;
}
.feedback-content label{
    font-size: 18px;
    font-weight: normal;
    display: block;
    text-align: left;
}
.YoungCarer{
    margin: 20px 0;
}
.addrespon{
    background: #f72b76;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin: auto;
    border: none;
    width: 400px;
    display: block;
}
.YoungCarerTextArea{
    background: #ac1f76;
    display: none;
}
.add-res{
    display: block;
    text-align: center;
    color: #fff;
    background: #f72b76;
    padding: 3px 0;
}
.normal{
    font-size: 13px;
    margin-right: 3px;
}
.small{
    font-size: 11px;
    margin-right: 3px;
    font-weight: normal;
}
.YoungCarerTextArea textarea{
    background: #ac1f76;
    border: 0;
    box-shadow: none;
    color: #fff !important;
}
.comment-responsive{
    padding: 10px;
}
.cancel-respon, .save-respon{
    width: 150px;
    border: 0;
    background: #3b8fd9;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 0; 
}
.save-respon{
    background: #32c894;
}
.hr-colr{
    border-color: #b0307f;
   margin: 30px -20px;
}
.hr-color{
    border-color: #ddd;
    margin: 20px -20px;
}
.hr-color.self{
    margin: 30px -20px 0;
}
#sliderCon .hr-color{
    margin-bottom: 0px;
    margin-top: 50px;
}
.Savebtn{    
      text-align: center;
      position: relative;
      z-index: 100;
  }
.Submitbtn{
    padding: 20px;
    width: 400px;
  
    color: #fff;
    background: #039591;
    text-align: center;
    border: none;
}
.sidespass{
    margin: 0 27px;
}
.notification-page p{
    text-align: left;
}
.date-color{
    color: #32c894;
    font-size: 14px;
    padding-right: 2pc;
}
.cross{
    position: absolute;
    background: url(../img/webfile/del-icon.png) no-repeat;
    height: 26px;
    width: 26px;
    right: 30px;
    cursor: pointer;
}
.self-icon{
   margin-right: 10px;
   height: 26px;
}
.self-contetn label{
    font-size: 20px;
    font-weight: bold;
    color: #308fdd;
    position: relative;
    top: 15px;
}
.self-text{
    font-size: 19px;
    /*display: inline-flex;*/
    padding-left: 35px;
    background: url("../img/webfile/icon1.png") no-repeat left top;
    text-align: left;
}
.self-text.faul{
     background: url("../img/webfile/icon.png") no-repeat left top;
}
.l-c, .l-c span{
    color: #f72b76 !important;
}
.self-contetn-part{
    margin-bottom: 20px
}
.slider.slider-img:before, .slider.slider-img:after{
    display: none;
}
.self-content textarea, .form-control::-moz-placeholder{
    
    color: #d3d3d3;
}
.form-control::-webkit-input-placeholder{
    
    color: #d3d3d3;
}
.text-position{
    position: relative;
    top: -30px;

}
/*SLIDER*/
.slider-valu {
    text-align: center;
}
.slider-valu span{
    padding-left: 31px;
    color: #308fdd;
    font-weight: bold;
}
.slider-valu #slider-range-max span{
    padding: 0;
}
.slider:before{
    background: url("../img/webfile/slider-ha.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    content: "";
    height: 31px;
    left: -70px;
    position: absolute;
    top: -13px;
    width: 31px;
}
.slider:after{
    content: '';
    background: url(../img/webfile/smile.png) no-repeat right center;
    height: 33px;
    width: 33px;
    right: -70px;
    position: absolute;
    top: -13px;
}

.ui-widget-header{
    background: #b5b6b7;
}
.ui-widget-content{
    background: #308fdd;
    border: none;
}
.slider-color.ui-widget-content{
    background: #f72b76;
}
.ui-slider-horizontal{
     height: 5px;
     left: 15px;
    width: 420px; 
}
.slider-valu span:first-child{
    padding-left: 0px;
}.ui-slider-horizontal .ui-slider-handle {
    margin-left: -1.9em;
    top: -1.5em;
}
.ui-state-default{
    background: url(../img/webfile/toggle.png) no-repeat !important;
    height: 72px !important;
    width: 62px !important;
    border: none !important;
}
.slider-valu {
    width: 450px;
    margin: auto;
}
.slider-valu .slider{
    margin: 30px 0;
}
.slider-con{
    padding: 15px 0;
}
/*SLIDER*/
.date{
    color: #3b8fd9;
}
.footer-con {
    margin: 20px 0;
     font-family: 'robotoregular';
     position: relative;
     z-index: 200

}
.signup .footer-section{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10
}
.footer-con small{
    display: block;
    color: #fff;

}
/*COLOR*/
tr.orange td, .orange{
    border-color: #fb6533 !important;
}
tr.purple td, .purple{
    border-color: #b0307f !important;
}

tr.green td, .green{
    border-color: #4acb9c !important;
}

tr.pink td, .pink{
    border-color: #f73780 !important;
}

tr.blue td, .blue{
    border-color: #4498dd !important;
}

tr.cyan td, .cyan{
    border-color: #129c99 !important;
}
.logout {
    color: #fff;
    background: #ac1f76;
    display: block;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
}
.logout:hover{
    color: #fff;
}
.tick{
    background-image:  url(../img/webfile/tik-add-btn.png);
    background-repeat: no-repeat;
    background-position: 120px center;
}
.tickHow{
    background-image:  url(../img/webfile/tik-add-btn.png);
    background-repeat: no-repeat;
    background-position: 65px center;
}
.question-form label{
    font-size: 12px;
    text-align: left !important;
    font-weight: normal;
}
.link{
    color: #308fdd;
    cursor: pointer;

}
.link:hover{
    text-decoration: underline;
}
@keyframes rotation {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
@-webkit-keyframes rotation {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotation {
    0%   {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}
}
.head-bg{
    position: relative;
}
.reload-icon span{
    font-size: 17px;
    display: block;
    cursor: pointer;   
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -8px;
 
}
.reload-icon span.loading{
   
    animation:         rotation 0.3s infinite linear;  
  -o-animation:      rotation 0.3s infinite linear;
  -moz-animation:    rotation 0.3s infinite linear;
  -webkit-animation: rotation 0.3s infinite linear;
 
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
    .container{
        width: auto;
    }
    .signUpForm:before {
    
    content: "";
   /* height: 15px;*/
    left: 50%;
    margin-left: -150px;   
    top: 0px;
    width: 300px;
    background-size: 100% auto;
}
.signUpForm {
    left: 50%;
    margin-left:-150px;
    padding: 10px 20px;
    
    top: 50%;
    width: 300px;
   
}
.Submitbtn{
    width: auto;
}
}