@media print{
	#go, #print, div.actions.noprint, .feedback-left{
		display: none;
	}
	div.form, div.index, div.view{
		width: 100%;
		float: none;

	}
	.select-control .col-md-3, .select-control .col-md-2{
		float: left;
		margin-right: 10px;
	}
	.dxc-title{
		text-align: left !important;
	}
	
	#litmusPieChartContainer{
		text-align: center;
		display: block;
		width: 500px;

	}
	#chartIncident, #chartIncidentGraph{
		height: 450px;
		width: 100%;
		display: inline-block;		
		position: relative;
		top: 50px;
		margin-bottom: 50px;
	}
	#feedbackincident, #themesuggestion, #responsechart{
		height: 450px;
		width: 100%;		
		position: absolute;
		top:450px;

	}
	 #themesuggestion{
	 	top:1000px;
	 }
	 #responsechart{
	 	top: 1600px;
	 }
	 #themeGraph, #pulseGraph{
		
		width: 100%;

	}
	#chartContainer{
		position: absolute;
		left: 0;
		bottom: -460px;
	}
	
	#feedbackincident, #responsechart, #themesuggestion{
		width: 600px;		
		height: 250px
		
	}
	#litmusPieChartContainer, #litmuschartContainer, #litmusFullStackedBar{
		position: absolute;
		width: 100%;
		height: 300px;
		top:320px;
		
	}
	#litmuschartContainer{
		top:1050px;
	}
	#litmusFullStackedBar{
		top: 1750px;
		margin-top: 50px;
	}
	#pulsesUsers{
		position: relative;
	}
	.monejachay{
		clear: both;
		display: inline-block;
		width: 100%;
	}
	

}