@media print{
	#go, #print{
		display: none;
	}
	div.form, div.index, div.view{
		width: 100%;

	}
	.select-control .col-md-3, .select-control .col-md-2{
		float: left;
		margin-right: 10px;
	}
	.dxc-title{
		text-align: left !important;
	}
	#chartIncidentGraph, #chartIncident{
		width:100%;		
		height: 250px;
		position: absolute;
		top:1000px;
		
	}
	#chartIncident{
		right: 10px;
	}
	#chartContainer, #themeGraph, #pulseGraph{
		position: absolute;
		top: 750px;
		width: 100%;

	}
	#chartContainer{
		top: 1700px;
	}
	#feedbackincident, #responsechart, #themesuggestion{
		width: 600px;
		position: absolute;
		left: 10px;
		height: 250px
		top:400px;
	}
	#responsechart{
		top: 1800px;
	}
	#litmusFullStackedBar{
		position: absolute;
		top:1050px;
	}
	#pulsesUsers{
		position: relative;
	}
	.monejachay{
		top:500px;
		position: absolute;
	}
	#themeGraph{
		top:550px;
	}
	#pulseGraph{
		top:250px;
	}
	#themesuggestion{
		top: 800px;
	}
	#litmuschartContainer{
		top:600px;
	}
	.feedback-left.col-md-7{
		display: none;
	}

}