#holder { 
	/*border: 10px dashed #ccc; */
	/*width: 539px; */
	margin: 20px auto; height: auto;
}
#holder.hover { 
/*	border: 20px dashed #0c0; */
}
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; height: auto; }
progress:after {
 content: url(../img/empty.png); 
}
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}