<div class="prequalifyingQuestions form">
<?php echo $this->Form->create('PrequalifyingQuestion'); ?>
	<fieldset>
		<legend><?php echo __('Edit Prequalifying Question'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('question');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('PrequalifyingQuestion.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('PrequalifyingQuestion.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Prequalifying Questions'), array('action' => 'index')); ?></li>
	</ul>
</div>
