<?php
/**
 * Created by PhpStorm.
 * User: admin
 * Date: 8/13/18
 * Time: 1:49 PM
 */
?>
<div class="col-md-12">
    <h3>Terms and Conditions of Use</h3>
    <p class="text-justify">
        <?php
        echo @$term_data['Information']['term_of_use'];
        ?>
    </p>
</div>