<?php echo $this->element('menu');?>
<div class="index col-md-10 col-sm-10">
	<div class="white">
<?php echo $this->Form->create('Complaint'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Complaint'); ?></legend>
	<?php
		echo $this->Form->input('user_id');
		echo $this->Form->input('complaint');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
</div>